html, body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    min-width: 350px;
    font-family: Verdana, sans-serif;
}

body {
    flex-direction: column;
    display: flex;
    height: 100%;
    min-height: 100vh;
}

header {
    /*background: rgb(9,57,134);
    background: linear-gradient(90deg, rgba(9,57,134,1) 6%, rgba(23,96,203,1) 22%, rgba(7,176,210,1) 100%); */
    background: rgb(10,61,143);
    background: linear-gradient(90deg, rgba(10,61,143,1) 15%, rgba(23,96,203,1) 33%, rgba(34,121,195,1) 100%);
    box-shadow: 0px 5px 13px -1px #000000;
    padding: 0;
}

header .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 20px;
}

header .cityName {
    justify-content: left;
    min-width: 300px;
}

header .cityName a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .cityName a h1 {
    margin: 0 0 0 15px;
    font-size: 2em;
}

header p,h1,a {
    color: #FFF;
    text-decoration: none;
}

header .authentication {
    display: none;
    padding: 10px 0px 10px 0px;
    flex-direction: row;
    align-items: center;
    width: 30%;
    min-width: 200px;
    justify-content: right;
}

header .authentication button {
    border: none;
    padding: 5px 15px;
    margin-right: 20px;
    font-size: 1em;
    background-color: #1554b6;
    color: white;
    border-radius: 5px;
}

header .authentication a {
    padding: 5px 7px;
}

header .authentication a:hover {
    background-color: cornflowerblue;
    border-radius: 5px;
}

header .authentication button:hover {
    background-color: cornflowerblue;
}

header .hamburgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

header nav a {
    padding: 5px 0px;
    width: 16%;
    min-width: 300px;
    text-align: center;
    font-size: 1.3em;
}

header nav a:hover {
    padding: 5px;
    background: rgba(0,0,0,0.15);
    text-decoration: underline;
}

main {
    flex: auto;
    padding: 30px;
}

main h1, h2, p {
    color: #000;
}

main a {
    color: blue;
    text-decoration: underline;
}

footer {
    background: rgb(10,61,143);
    background: linear-gradient(270deg, rgba(10,61,143,1) 15%, rgba(23,96,203,1) 33%, rgba(34,121,195,1) 100%);
    padding: 10px;
    bottom: 2vh;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

footer nav a {
    padding: 2px 10px;
    width: 16%;
    min-width: 250px;
    font-size: 1.2em;
    text-align: center;
}

footer nav a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    header .cityName {
        width: 30%;
    }

    header .cityName a h1 {
        margin: 0 0 0 15px;
        font-size: 3em;
    }

    header .header {
        padding: 25px 10px 20px 10px;
        justify-content: center;
    }

    header .authentication {
        display: flex;
    }

    header .hamburgerMenu {
        display: none;
    }

    main {
        padding: 30px 80px 30px 80px;
    }
}