main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .post, .comments {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: #1554b6 3px solid;
    padding: 10px 5px;
}

main .content, .postContent {
    max-width: 80%;
}

.post {
    max-width: 100%;
}

.rating {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.rating input[type="submit"] {
    background-color: #00000000;
    color: #1554b6;
    border-radius: 10px;
    border: solid #1554b6 1px;
    padding: 3px 5px;
    height: fit-content;
    margin: 0px 3px;
}

.rating p {
    background-color: #00000000;
    color: #1554b6;
    border-radius: 10px;
    border: solid #1554b6 1px;
    padding: 3px 5px;
    font-size: 0.8em !important;
    height: fit-content;
    margin: 0px 3px;
}

.rating input[type="submit"]:hover {
    background-color: #0000FF33;
    color: #0000FF;
}

.answer {
    display: flex;
    flex-direction: column;
}

.answer label {
    display: flex;
    flex-direction: column;
}

.answer textarea {
    margin: 5px 0px;
    padding: 5px;
    border-radius: 10px;
    max-width: 100%;
    min-width: 50px;
}

.answer input[type="submit"] {
    background-color: #1554b6;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    width: 20%;
    min-width: 150px;
    color: white;
    font-size: 0.8em;
}

.comments {
    flex-direction: column;
    margin-top: 10px;
}

.comment {
    display: flex;
    flex-direction: column;
}

.commentContent {
    display: flex;
    flex-direction: row;
}

main .userInfo {
    padding: 20px 5px;
    text-align: center;
    width: 60px;
    font-size: 0.8em;
}

main .userInfo img {
    max-width: 100%;
    height: auto;
    border-radius: 0.8em;
}

main .postContent {
    padding: 10px 5px;
}

main .postContent p {
    font-size: 0.8em;
}

main .postContent h2 {
    font-size: 1.2em;
}

main button {
    background-color: #1554b6;
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
    width: 20%;
    min-width: 150px;
    color: white;
    font-size: 1em;
}

main .comment {
    display: flex;
}

.comment > .comment {
    margin-left: 10px;
    padding-left: 5px;
    border-left: #1554b6AA solid 1px;
}

.partyOpinions {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: #1554b6 3px solid;
    padding: 10px 5px;
    margin-top: 20px;
    height: fit-content;
}

.partyOpinions .opinionsContainer {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
}

.partyOpinions .opinionsContainer img {
    margin: 5px;
}

@media screen and (min-width: 800px){
    main {
        flex-direction: row;
    }

    main .userInfo {
        width: auto;
        font-size: 1em;
    }

    main .userInfo img {
        border-radius: 1em;
    }

    main .userInfo {
        padding: 20px 5px;
    }

    main .postContent {
        padding: 10px 15px;
    }

    main .postContent p {
        font-size: 1em;
    }

    main .postContent h2 {
        font-size: 1.5em;
    }

    .comment > .comment {
        margin-left: 30px;
        padding-left: 20px;
        border-left: #1554b6AA solid 1px;
    }

    .partyOpinions {
        margin-top: 0px;
        margin-left: 20px;
    }

    .answer input[type="submit"] {
        font-size: 1em;
        width: 50%;
    }
}