main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main form {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px;
    background-color: rgba(34,121,195,0.9);
    border-radius: 0px 0px 10px 10px ;
    width: 80%;
    padding: 45px 25px 25px 25px;
}

main h2 {
    text-align: center;
    font-size: 1.7em;
    color: white;
    background-color: rgba(20,102,173,0.9);
    border-radius: 10px 10px 0px 0px;
    margin: 0px;
    padding: 15px 25px 15px 25px;
    width: 80%;
}

main input[type="email"] {
    font-size: 1.5em;
    margin: 10px 0px 10px 0px;
    border-radius: 7px 7px 7px 7px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

main input[type="password"] {
    font-size: 1.5em;
    margin: 10px 0px 10px 0px;
    border-radius: 7px 7px 7px 7px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

main input[type="text"] {
    font-size: 1.5em;
    margin: 10px 0px 10px 0px;
    border-radius: 7px 7px 7px 7px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

main input[type="submit"] {
    text-align: center;
    font-size: 1em;
    background-color: #1554b6;
    color: white;
    margin-top: 35px;
    margin-left: 0px;
    width: 200px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border: none;
}
main input[type="submit"]:disabled{
     background-color: #888;
     color: white;
 }

main .validationBox {
    background-color: #EEE;
    color: black;
    border: rgb(20,102,173) 4px solid;
    padding: 5px 10px;
    border-radius: 7px;
    margin: 20px 0px;
}

main .validationBox img{
    position: relative;
    bottom: -5px;
    width: 24px;
    height: 24px;
    margin-right: 0.4em;
}

main .validationBox p {
    color: black;
    font-size: 1.1em;
}

main .validationBox ul {
    list-style-type: none;
    padding-left: 1em;
}

main p {
    color: white;
}

main p a {
    color: white;
}

.hinweis {
    background-color: #FFFFFF;
    border: red solid 3px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.hinweis p a{
    color: black;
}

@media only screen and (min-width: 800px) {

    main form {
        width: 65%;
    }

    main h2 {
        width: 65%;
    }

}

@media only screen and (min-width: 1000px) {

    main form {
        width: 55%;
    }

    main h2 {
        width: 55%;
    }

}

@media only screen and (min-width: 1500px) {

    main form {
        width: 35%;
    }

    main h2 {
        width: 35%;
    }

}