html, body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    min-width: 350px;
    font-family: Verdana, sans-serif;
}

body {
    flex-direction: column;
    display: flex;
    height: 100%;
    min-height: 100vh;
    background-color: #e6e9f0;
}

header {
    background: rgb(10,61,143);
    background: linear-gradient(90deg, rgba(10,61,143,1) 15%, rgba(23,96,203,1) 33%, rgba(34,121,195,1) 100%);
    box-shadow: 0px 5px 13px -1px #000000;
    padding: 0;
}

header .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 20px;
}

header .cityName {
    justify-content: left;
    width: 250px;
}

header .cityName a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .cityName a h1 {
    margin: 0 0 0 15px;
    font-size: 2em;
}

header p,h1,a {
    color: #FFF;
    text-decoration: none;
}

header .authentication {
    padding: 10px 70px;
    align-items: center;
    width: 30%;
    min-width: 200px;
    justify-content: center;
}

header .authentication #logoutButton {
    border: none;
    padding: 11px 31px;
    margin-right: 20px;
    font-size: 1em;
    line-height: 1em;
    background-color: #1554b6;
    color: white;
    border-radius: 5px;
    width: auto;
}

header .authentication a {
    padding: 7px 10px;
    display: flex;
    background-color: #1554b6;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .authentication a p {
    margin: 0px 0px 0px 10px;
    text-align: center;
    line-height: 1em;
    height: 1em;
}

header .authentication a:hover {
    background-color: cornflowerblue;
    border-radius: 5px;
}

header .authentication button:hover {
    background-color: cornflowerblue;
}

header .hamburgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

header .navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
}

header nav,.authentication {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

header nav {
    flex-wrap: wrap;
}

header nav a {
    padding: 5px 0px;
    width: 16%;
    min-width: 300px;
    text-align: center;
    font-size: 1.3em;
}

header nav a:hover {
    background: rgba(0,0,0,0.15);
    text-decoration: underline;
}

.menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    margin-top: 40px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button p {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

#menu-toggle ~ nav a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

#menu-toggle ~ .authentication * {
    display: none;
}

#menu-toggle:not(:checked) ~ .authentication {
    padding: 0 70px;
}

#menu-toggle:checked ~ nav,.authentication {
    display: flex;
}

#menu-toggle:checked ~ nav a {
    height: 1em;
    padding: 0.5em;
}

#menu-toggle:checked ~ nav a:last-child {
    padding-bottom: 0;
}

#menu-toggle:checked ~ .authentication * {
    display: flex;
}

.header nav > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
}

main {
    flex: auto;
    padding: 30px;
}

main h1, h2, h3, p {
    color: #000;
    overflow-wrap: break-word;
}

main a {
    color: blue;
    text-decoration: underline;
}

footer {
    background: rgb(10,61,143);
    background: linear-gradient(270deg, rgba(10,61,143,1) 15%, rgba(23,96,203,1) 33%, rgba(34,121,195,1) 100%);
    padding: 10px;
    bottom: 2vh;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

footer nav a {
    padding: 2px 10px;
    width: 16%;
    min-width: 250px;
    font-size: 1.2em;
    text-align: center;
}

footer nav a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 650px) {
    header .cityName {
        width: auto;
        padding-bottom: 10px;
    }

    header .cityName a h1 {
        margin: 0 0 0 15px;
        font-size: 3em;
    }

    header .header {
        padding: 25px 10px 10px 10px;
        justify-content: center;
    }

    header .authentication {
        display: flex;
    }

    #menu-toggle ~ .authentication * {
        display: flex;
    }

    header nav {
        display: flex;
        flex-direction: row;
    }

    #menu-toggle ~ nav a {
        height: auto;
        margin: 0px;
        width: auto;
        padding: 5px 0px;
    }

    .menu-button-container {
        display: none;
    }

    main {
        padding: 30px 80px 30px 80px;
    }
}